html,
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  background: rgb(47, 45, 45);
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appHeading {
  display: flex;
  width: 100%;
  border: 2px solid whitesmoke;
  letter-spacing: 30px;
  font-family: sans-serif;
  font-size: 35px;
  color: antiquewhite;
  /* margin-top: 1%; */
  align-items: center;
  height: 12%;
  width: 60%;
  justify-content: center;
  border-radius: 12px;
  margin-top: 1%;
  background: rgba(245, 245, 245, 0.034);
}

@media screen and (max-width: 550px) {
  .App {
    display: flex;
    height: 100vh;
    width: 100vw;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .appHeading {
    display: flex;
    /* border: 2px solid rgb(255, 1, 1); */
    border: none;
    letter-spacing: 8px;
    font-family: sans-serif;
    font-size: 20px;
    color: antiquewhite;
    border-radius: 12px;
    background: rgba(245, 245, 245, 0.034);
    height: 8%;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
  }
}
